{% extends "layout.html"%}
{% block body%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('  {{ url_for('static',filename='assets/img/xx.jpg') }} ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Your New Online Presence with Us</h1>
                            <span class="subheading">We are team GreenHub, making your life easy!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  
            </div>
        </div>

          <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="row content">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <h2>About Us</h2>
              <h3></h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
              <p>
                This web-based application is a complete package for promoting organic
                 farming and consumption. It is designed to benefit farmers by providing 
                 insights for sustainable organic practices and empower consumers and retailers
                  to buy organic products directly from farmers. Key features include:
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Crop Prediction: Using past agricultural data, weather conditions, and soil properties, the application predicts suitable organic crops to grow, ensuring optimal yield and sustainability .</li>
                <li><i class="ri-check-double-line"></i> Organic Farming Guidance: It offers recommendations on organic fertilizers and pest control methods based on land conditions and atmospheric data, promoting eco-friendly farming practices.</li>
                <li><i class="ri-check-double-line"></i> Marketplace for Organic Products: The platform connects organic farmers directly with retailers and consumers, eliminating middlemen and ensuring fair pricing for farmers while providing high-quality organic products to buyers .</li>
                <li><i class="ri-check-double-line"></i> Consumer Focus: Retailers and consumers can browse and purchase fresh, organic products with ease, fostering a healthier lifestyle and supporting organic agriculture.</li>
              </ul>
            </div>
          </div>
  
        </div>
      </section>
     {% endblock %}
